<%-include("./partials/head")-%>
<body>
    <%- include('partials/Header/HeaderIncognito'); %>
    <a href="/Login" class="font-sans text-green-900 border-2 hover:bg-green-500 hover:text-white" >Login</a>
    <a href="/register" class="font-sans text-green-900 border-2 hover:bg-green-500 hover:text-white">Register</a>

</body>
</html>