<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../dist/output.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to your account Right now</title>
</head>
<body>
    <%- include('partials/Header/HeaderIncognito'); %>

</body>
</html>