<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../dist/output.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <%- include('partials/Header/HeaderIncognito'); %>
        <form action="/register/validateInfo" method="post">
            <input class="border-solid border-2" type="text" name="user">
            <input type="text" name="pass">
            <button class="border-white border-2 rounded-lg" type="submit">Register</button>
        </form>
        
</body>
</html>