<!DOCTYPE html>
<html lang="en">
<head>
    <link  rel="stylesheet" href="../../dist/output.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="flex w-screen pb-4 pt-2 justify-around bg-cyan-400 text-white">
        <h1 class="font-semibold">WANNA JOIN OUR COMMUNITY ?</h1>
        <ul class="w-1/3 flex justify-between">
            <a href="/" class="hover:text-blue-500 ">Home</a>
            <a href="/register"class="hover:text-blue-500 ">SignIn</a>
            <a href="/Login" class="hover:text-blue-500 ">LogIn</a>
            <a class="hover:text-blue-500 ">Our Policy</a>
            <a class="hover:text-blue-500 ">About Us</a>
        </ul>
    </header>
    
</body>
</html>