<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <header class="bg-cyan-500 ">
        <div class="logo">
            <img src="https://www.svgrepo.com/show/510430/logo-abletonlink.svg" alt="">
            <h1>Welcome</h1>
        </div>
        <div class="menu">
            <ul>
                <a href="/home" class="hover:text-blue-500 ">Home</a>
                <a href="/Blogs"  class="hover:text-blue-500 ">My Blogs</a>
                <a href="/Login" class="hover:text-blue-500 ">Feed</a>
                <a class="hover:text-blue-500 ">About Us</a>
            </ul>
        </div>
        <div class="userinfo">
        </div>
    </header>
</body>
</html>